<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Campora</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
        <a class="nav-link <%= currentPath.startsWith('/campgrounds') && !currentPath.endsWith('/new') && currentPath.split('/').length === 2 ? 'active' : '' %>" href="/campgrounds">Campgrounds</a>
        <a class="nav-link <%= currentPath === '/campgrounds/new' ? 'active' : '' %>" href="/campgrounds/new">New Campground</a>
      </div>
    </div>
  </div>
</nav>
