<% layout('layouts/boilerplate') %>
    <h1>Add New Campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input type="text" id='title' name = 'campground[title]'>
        <label for="location">Location</label>
        <input type="text" id="location" name = 'campground[location]'>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
